@use "../../styles/variables" as vars;

.weekly-calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: grid;
    grid-template-columns: 4rem repeat(7, 1fr);
    border-bottom: 1px solid vars.$border-color;
    height: 3.5rem;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }

  &__header-first-cell {
    display: flex;
    align-items: center;
    position: relative;

    .weekly-calendar__time-placeholder {
      width: 4rem;
    }

    .weekly-calendar__create-button {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border: 1px solid vars.$border-color;
      border-radius: 10px;
      padding: 0.25rem;
      &:hover {
        background: #f3f4f6;
      }
    }
  }

  &__day-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-name {
      font-size: 0.75rem;
      color: vars.$text-gray;
    }

    &-date {
      margin-top: 0.25rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;

      &--today {
        background-color: vars.$blue-500;
        color: white;
      }
    }
  }

  &__body {
    display: flex;
    flex: 1;
    overflow: auto;
    min-height: 0;
  }

  &__time-column {
    width: 4rem;
    flex-shrink: 0;
  }

  &__time-slot {
    height: 3.5rem;
    border-top: 1px solid vars.$border-color;
    padding-right: 0.5rem;
    text-align: right;

    span {
      font-size: 0.75rem;
      color: vars.$text-gray;
    }
  }

  &__days-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__cell {
    height: 3.5rem;
    border-top: 1px solid vars.$border-color;
    border-left: 1px solid vars.$border-color;
    position: relative;

    &:hover {
      background-color: rgba(59, 130, 246, 0.05);
      cursor: pointer;
    }
  }

  &__event {
    position: absolute;
    margin: 0 0.25rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    color: black;
    overflow: hidden;

    &--yellow {
      background-color: vars.$yellow-500;
    }
    &--green {
      background-color: vars.$green-500;
    }
    &--purple {
      background-color: vars.$purple-500;
    }
    &--blue {
      background-color: vars.$blue-500;
    }
  }
}
